{
  "extends": [
    "airbnb"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "max-len": [
      1,
      {
        "code": 120,
      }
    ],
    "linebreak-style": 0,
    "import/no-unresolved": 1,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ]
  }
}